{
 "openapi": "3.0.1",
 "info": {
  "title": "Shopizer Legacy E-commerce API (MCP curated)",
  "description": "Curated operations surface of the Shopizer commerce backend (orders, catalog, customers, store), prepared for MCP tool conversion. Endpoints under /api/v1/private/ are admin operations.",
  "version": "1.0"
 },
 "servers": [
  {
   "url": "http://shopizer-api.wind.cloudpeek.xyz:8080"
  }
 ],
 "paths": {
  "/api/v1/category": {
   "get": {
    "tags": [
     "Category management resource (Category Management Api)"
    ],
    "summary": "Get category hierarchy from root. Supports filtering FEATURED_CATEGORIES and VISIBLE ONLY by adding ?filter=[featured] or ?filter=[visible] or ? filter=[featured,visible",
    "description": "Does not return any product attached. All product categories with id, code and display name",
    "operationId": "list_categories",
    "parameters": [
     {
      "name": "count",
      "in": "query",
      "description": "count",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     },
     {
      "name": "filter",
      "in": "query",
      "description": "filter",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "name",
      "in": "query",
      "description": "name",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "page",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "ReadableCategoryList",
         "type": "object",
         "properties": {
          "categories": {
           "type": "array",
           "items": {
            "title": "ReadableCategory",
            "type": "object",
            "properties": {
             "children": {
              "type": "array",
              "items": {
               "type": "object"
              }
             },
             "code": {
              "type": "string"
             },
             "depth": {
              "type": "integer",
              "format": "int32"
             },
             "description": {
              "title": "CategoryDescription",
              "type": "object",
              "properties": {
               "description": {
                "type": "string"
               },
               "friendlyUrl": {
                "type": "string"
               },
               "highlights": {
                "type": "string"
               },
               "id": {
                "type": "integer",
                "format": "int64"
               },
               "keyWords": {
                "type": "string"
               },
               "language": {
                "type": "string"
               },
               "metaDescription": {
                "type": "string"
               },
               "name": {
                "type": "string"
               },
               "title": {
                "type": "string"
               }
              }
             },
             "featured": {
              "type": "boolean"
             },
             "id": {
              "type": "integer",
              "format": "int64"
             },
             "lineage": {
              "type": "string"
             },
             "parent": {
              "title": "Category",
              "type": "object",
              "properties": {
               "code": {
                "type": "string"
               },
               "id": {
                "type": "integer",
                "format": "int64"
               }
              }
             },
             "productCount": {
              "type": "integer",
              "format": "int32"
             },
             "sortOrder": {
              "type": "integer",
              "format": "int32"
             },
             "store": {
              "type": "string"
             },
             "visible": {
              "type": "boolean"
             }
            }
           }
          },
          "number": {
           "type": "integer",
           "format": "int32"
          },
          "recordsFiltered": {
           "type": "integer",
           "format": "int32"
          },
          "recordsTotal": {
           "type": "integer",
           "format": "int64"
          },
          "totalPages": {
           "type": "integer",
           "format": "int32"
          }
         }
        }
       }
      }
     }
    },
    "deprecated": false
   }
  },
  "/api/v1/category/{id}": {
   "get": {
    "tags": [
     "Category management resource (Category Management Api)"
    ],
    "summary": "Get category list for an given Category id",
    "description": "List current Category and child category. One category by id",
    "operationId": "get_category",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "id",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "List of category found",
      "content": {
       "application/json": {
        "schema": {
         "title": "ReadableCategory",
         "type": "object",
         "properties": {
          "children": {
           "type": "array",
           "items": {
            "type": "object"
           }
          },
          "code": {
           "type": "string"
          },
          "depth": {
           "type": "integer",
           "format": "int32"
          },
          "description": {
           "title": "CategoryDescription",
           "type": "object",
           "properties": {
            "description": {
             "type": "string"
            },
            "friendlyUrl": {
             "type": "string"
            },
            "highlights": {
             "type": "string"
            },
            "id": {
             "type": "integer",
             "format": "int64"
            },
            "keyWords": {
             "type": "string"
            },
            "language": {
             "type": "string"
            },
            "metaDescription": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "title": {
             "type": "string"
            }
           }
          },
          "featured": {
           "type": "boolean"
          },
          "id": {
           "type": "integer",
           "format": "int64"
          },
          "lineage": {
           "type": "string"
          },
          "parent": {
           "title": "Category",
           "type": "object",
           "properties": {
            "code": {
             "type": "string"
            },
            "id": {
             "type": "integer",
             "format": "int64"
            }
           }
          },
          "productCount": {
           "type": "integer",
           "format": "int32"
          },
          "sortOrder": {
           "type": "integer",
           "format": "int32"
          },
          "store": {
           "type": "string"
          },
          "visible": {
           "type": "boolean"
          }
         }
        }
       }
      }
     }
    },
    "deprecated": false
   }
  },
  "/api/v1/private/customers": {
   "get": {
    "tags": [
     "Customer management resource (Customer Management Api)"
    ],
    "summary": "list",
    "operationId": "list_customers",
    "parameters": [
     {
      "name": "count",
      "in": "query",
      "description": "count",
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "page",
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "ReadableCustomerList",
         "type": "object",
         "properties": {
          "customers": {
           "type": "array",
           "items": {
            "title": "ReadableCustomer",
            "type": "object",
            "properties": {
             "attributes": {
              "type": "array",
              "items": {
               "title": "ReadableCustomerAttribute",
               "type": "object",
               "properties": {
                "customerOption": {
                 "title": "ReadableCustomerOption",
                 "type": "object",
                 "properties": {
                  "code": {
                   "type": "string"
                  },
                  "description": {
                   "title": "CustomerOptionDescription",
                   "type": "object",
                   "properties": {
                    "description": {
                     "type": "string"
                    },
                    "friendlyUrl": {
                     "type": "string"
                    },
                    "highlights": {
                     "type": "string"
                    },
                    "id": {
                     "type": "integer",
                     "format": "int64"
                    },
                    "keyWords": {
                     "type": "string"
                    },
                    "language": {
                     "type": "string"
                    },
                    "metaDescription": {
                     "type": "string"
                    },
                    "name": {
                     "type": "string"
                    },
                    "title": {
                     "type": "string"
                    }
                   }
                  },
                  "id": {
                   "type": "integer",
                   "format": "int64"
                  },
                  "order": {
                   "type": "integer",
                   "format": "int32"
                  },
                  "type": {
                   "type": "string"
                  }
                 }
                },
                "customerOptionValue": {
                 "title": "ReadableCustomerOptionValue",
                 "type": "object",
                 "properties": {
                  "code": {
                   "type": "string"
                  },
                  "description": {
                   "title": "CustomerOptionValueDescription",
                   "type": "object",
                   "properties": {
                    "description": {
                     "type": "string"
                    },
                    "friendlyUrl": {
                     "type": "string"
                    },
                    "highlights": {
                     "type": "string"
                    },
                    "id": {
                     "type": "integer",
                     "format": "int64"
                    },
                    "keyWords": {
                     "type": "string"
                    },
                    "language": {
                     "type": "string"
                    },
                    "metaDescription": {
                     "type": "string"
                    },
                    "name": {
                     "type": "string"
                    },
                    "title": {
                     "type": "string"
                    }
                   }
                  },
                  "id": {
                   "type": "integer",
                   "format": "int64"
                  },
                  "order": {
                   "type": "integer",
                   "format": "int32"
                  }
                 }
                },
                "id": {
                 "type": "integer",
                 "format": "int64"
                },
                "textValue": {
                 "type": "string"
                }
               }
              }
             },
             "billing": {
              "title": "Address",
              "type": "object",
              "properties": {
               "address": {
                "type": "string",
                "description": "Customer billing or shipping address"
               },
               "billingAddress": {
                "type": "boolean"
               },
               "bilstateOther": {
                "type": "string"
               },
               "city": {
                "type": "string",
                "description": "Customer billing or shipping city"
               },
               "company": {
                "type": "string"
               },
               "country": {
                "type": "string",
                "description": "Customer billing or shipping country code (2 letter code US, CA, UK, IT, IN, CN...)"
               },
               "countryCode": {
                "type": "string"
               },
               "firstName": {
                "type": "string",
                "description": "Customer billing first name"
               },
               "lastName": {
                "type": "string",
                "description": "Customer billing last name"
               },
               "latitude": {
                "type": "string"
               },
               "longitude": {
                "type": "string"
               },
               "phone": {
                "type": "string"
               },
               "postalCode": {
                "type": "string"
               },
               "stateProvince": {
                "type": "string",
                "description": "Customer billing or shipping state / province (if no 2 letter codes, example: North estate)"
               },
               "zone": {
                "type": "string",
                "description": "Customer billing or shipping state / province (2 letter code CA, ON...)"
               }
              }
             },
             "delivery": {
              "title": "Address",
              "type": "object",
              "properties": {
               "address": {
                "type": "string",
                "description": "Customer billing or shipping address"
               },
               "billingAddress": {
                "type": "boolean"
               },
               "bilstateOther": {
                "type": "string"
               },
               "city": {
                "type": "string",
                "description": "Customer billing or shipping city"
               },
               "company": {
                "type": "string"
               },
               "country": {
                "type": "string",
                "description": "Customer billing or shipping country code (2 letter code US, CA, UK, IT, IN, CN...)"
               },
               "countryCode": {
                "type": "string"
               },
               "firstName": {
                "type": "string",
                "description": "Customer billing first name"
               },
               "lastName": {
                "type": "string",
                "description": "Customer billing last name"
               },
               "latitude": {
                "type": "string"
               },
               "longitude": {
                "type": "string"
               },
               "phone": {
                "type": "string"
               },
               "postalCode": {
                "type": "string"
               },
               "stateProvince": {
                "type": "string",
                "description": "Customer billing or shipping state / province (if no 2 letter codes, example: North estate)"
               },
               "zone": {
                "type": "string",
                "description": "Customer billing or shipping state / province (2 letter code CA, ON...)"
               }
              }
             },
             "emailAddress": {
              "type": "string",
              "description": "Customer email address. Required for registration"
             },
             "firstName": {
              "type": "string"
             },
             "gender": {
              "type": "string",
              "description": "Customer gender M | F"
             },
             "groups": {
              "type": "array",
              "items": {
               "title": "ReadableGroup",
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "format": "int64"
                },
                "name": {
                 "type": "string"
                },
                "type": {
                 "type": "string"
                }
               }
              }
             },
             "id": {
              "type": "integer",
              "format": "int64"
             },
             "language": {
              "type": "string",
              "description": "2 letters language code en | fr | ..."
             },
             "lastName": {
              "type": "string"
             },
             "provider": {
              "type": "string"
             },
             "rating": {
              "type": "number",
              "format": "double"
             },
             "ratingCount": {
              "type": "integer",
              "format": "int32"
             },
             "storeCode": {
              "type": "string"
             },
             "userName": {
              "type": "string"
             }
            }
           }
          },
          "number": {
           "type": "integer",
           "format": "int32"
          },
          "recordsFiltered": {
           "type": "integer",
           "format": "int32"
          },
          "recordsTotal": {
           "type": "integer",
           "format": "int64"
          },
          "totalPages": {
           "type": "integer",
           "format": "int32"
          }
         }
        }
       }
      }
     }
    },
    "deprecated": false,
    "description": "list. Lists registered customers (admin view). Supports 'page' (0-based) and 'count' query params for pagination"
   }
  },
  "/api/v1/private/orders": {
   "get": {
    "tags": [
     "Ordering api (Order Flow Api)"
    ],
    "summary": "list",
    "operationId": "list_orders",
    "parameters": [
     {
      "name": "count",
      "in": "query",
      "description": "count",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 25
      }
     },
     {
      "name": "email",
      "in": "query",
      "description": "email",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "query",
      "description": "id",
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     },
     {
      "name": "name",
      "in": "query",
      "description": "name",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "page",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     },
     {
      "name": "phone",
      "in": "query",
      "description": "phone",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "status",
      "in": "query",
      "description": "status",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "ReadableOrderList",
         "type": "object",
         "properties": {
          "number": {
           "type": "integer",
           "format": "int32"
          },
          "orders": {
           "type": "array",
           "items": {
            "title": "ReadableOrder",
            "type": "object",
            "properties": {
             "attributes": {
              "type": "array",
              "items": {
               "title": "OrderAttribute",
               "type": "object",
               "properties": {
                "key": {
                 "type": "string"
                },
                "value": {
                 "type": "string"
                }
               }
              }
             },
             "billing": {
              "title": "ReadableBilling",
              "type": "object",
              "properties": {
               "address": {
                "type": "string",
                "description": "Customer billing or shipping address"
               },
               "billingAddress": {
                "type": "boolean"
               },
               "bilstateOther": {
                "type": "string"
               },
               "city": {
                "type": "string",
                "description": "Customer billing or shipping city"
               },
               "company": {
                "type": "string"
               },
               "country": {
                "type": "string",
                "description": "Customer billing or shipping country code (2 letter code US, CA, UK, IT, IN, CN...)"
               },
               "countryCode": {
                "type": "string"
               },
               "countryName": {
                "type": "string"
               },
               "email": {
                "type": "string"
               },
               "firstName": {
                "type": "string",
                "description": "Customer billing first name"
               },
               "lastName": {
                "type": "string",
                "description": "Customer billing last name"
               },
               "latitude": {
                "type": "string"
               },
               "longitude": {
                "type": "string"
               },
               "phone": {
                "type": "string"
               },
               "postalCode": {
                "type": "string"
               },
               "provinceName": {
                "type": "string"
               },
               "stateProvince": {
                "type": "string",
                "description": "Customer billing or shipping state / province (if no 2 letter codes, example: North estate)"
               },
               "zone": {
                "type": "string",
                "description": "Customer billing or shipping state / province (2 letter code CA, ON...)"
               }
              }
             },
             "comments": {
              "type": "string"
             },
             "confirmedAddress": {
              "type": "boolean"
             },
             "creditCard": {
              "title": "CreditCard",
              "type": "object",
              "properties": {
               "cardType": {
                "type": "string",
                "enum": [
                 "AMEX",
                 "VISA",
                 "MASTERCARD",
                 "DINERS",
                 "DISCOVERY"
                ]
               },
               "ccCvv": {
                "type": "string"
               },
               "ccExpires": {
                "type": "string"
               },
               "ccNumber": {
                "type": "string"
               },
               "ccOwner": {
                "type": "string"
               }
              }
             },
             "currency": {
              "type": "string"
             },
             "customer": {
              "title": "ReadableCustomer",
              "type": "object",
              "properties": {
               "attributes": {
                "type": "array",
                "items": {
                 "title": "ReadableCustomerAttribute",
                 "type": "object",
                 "properties": {
                  "customerOption": {
                   "title": "ReadableCustomerOption",
                   "type": "object",
                   "properties": {
                    "code": {
                     "type": "string"
                    },
                    "description": {
                     "title": "CustomerOptionDescription",
                     "type": "object",
                     "properties": {
                      "description": {
                       "type": "string"
                      },
                      "friendlyUrl": {
                       "type": "string"
                      },
                      "highlights": {
                       "type": "string"
                      },
                      "id": {
                       "type": "integer",
                       "format": "int64"
                      },
                      "keyWords": {
                       "type": "string"
                      },
                      "language": {
                       "type": "string"
                      },
                      "metaDescription": {
                       "type": "string"
                      },
                      "name": {
                       "type": "string"
                      },
                      "title": {
                       "type": "string"
                      }
                     }
                    },
                    "id": {
                     "type": "integer",
                     "format": "int64"
                    },
                    "order": {
                     "type": "integer",
                     "format": "int32"
                    },
                    "type": {
                     "type": "string"
                    }
                   }
                  },
                  "customerOptionValue": {
                   "title": "ReadableCustomerOptionValue",
                   "type": "object",
                   "properties": {
                    "code": {
                     "type": "string"
                    },
                    "description": {
                     "title": "CustomerOptionValueDescription",
                     "type": "object",
                     "properties": {
                      "description": {
                       "type": "string"
                      },
                      "friendlyUrl": {
                       "type": "string"
                      },
                      "highlights": {
                       "type": "string"
                      },
                      "id": {
                       "type": "integer",
                       "format": "int64"
                      },
                      "keyWords": {
                       "type": "string"
                      },
                      "language": {
                       "type": "string"
                      },
                      "metaDescription": {
                       "type": "string"
                      },
                      "name": {
                       "type": "string"
                      },
                      "title": {
                       "type": "string"
                      }
                     }
                    },
                    "id": {
                     "type": "integer",
                     "format": "int64"
                    },
                    "order": {
                     "type": "integer",
                     "format": "int32"
                    }
                   }
                  },
                  "id": {
                   "type": "integer",
                   "format": "int64"
                  },
                  "textValue": {
                   "type": "string"
                  }
                 }
                }
               },
               "billing": {
                "title": "Address",
                "type": "object",
                "properties": {
                 "address": {
                  "type": "string",
                  "description": "Customer billing or shipping address"
                 },
                 "billingAddress": {
                  "type": "boolean"
                 },
                 "bilstateOther": {
                  "type": "string"
                 },
                 "city": {
                  "type": "string",
                  "description": "Customer billing or shipping city"
                 },
                 "company": {
                  "type": "string"
                 },
                 "country": {
                  "type": "string",
                  "description": "Customer billing or shipping country code (2 letter code US, CA, UK, IT, IN, CN...)"
                 },
                 "countryCode": {
                  "type": "string"
                 },
                 "firstName": {
                  "type": "string",
                  "description": "Customer billing first name"
                 },
                 "lastName": {
                  "type": "string",
                  "description": "Customer billing last name"
                 },
                 "latitude": {
                  "type": "string"
                 },
                 "longitude": {
                  "type": "string"
                 },
                 "phone": {
                  "type": "string"
                 },
                 "postalCode": {
                  "type": "string"
                 },
                 "stateProvince": {
                  "type": "string",
                  "description": "Customer billing or shipping state / province (if no 2 letter codes, example: North estate)"
                 },
                 "zone": {
                  "type": "string",
                  "description": "Customer billing or shipping state / province (2 letter code CA, ON...)"
                 }
                }
               },
               "delivery": {
                "title": "Address",
                "type": "object",
                "properties": {
                 "address": {
                  "type": "string",
                  "description": "Customer billing or shipping address"
                 },
                 "billingAddress": {
                  "type": "boolean"
                 },
                 "bilstateOther": {
                  "type": "string"
                 },
                 "city": {
                  "type": "string",
                  "description": "Customer billing or shipping city"
                 },
                 "company": {
                  "type": "string"
                 },
                 "country": {
                  "type": "string",
                  "description": "Customer billing or shipping country code (2 letter code US, CA, UK, IT, IN, CN...)"
                 },
                 "countryCode": {
                  "type": "string"
                 },
                 "firstName": {
                  "type": "string",
                  "description": "Customer billing first name"
                 },
                 "lastName": {
                  "type": "string",
                  "description": "Customer billing last name"
                 },
                 "latitude": {
                  "type": "string"
                 },
                 "longitude": {
                  "type": "string"
                 },
                 "phone": {
                  "type": "string"
                 },
                 "postalCode": {
                  "type": "string"
                 },
                 "stateProvince": {
                  "type": "string",
                  "description": "Customer billing or shipping state / province (if no 2 letter codes, example: North estate)"
                 },
                 "zone": {
                  "type": "string",
                  "description": "Customer billing or shipping state / province (2 letter code CA, ON...)"
                 }
                }
               },
               "emailAddress": {
                "type": "string",
                "description": "Customer email address. Required for registration"
               },
               "firstName": {
                "type": "string"
               },
               "gender": {
                "type": "string",
                "description": "Customer gender M | F"
               },
               "groups": {
                "type": "array",
                "items": {
                 "title": "ReadableGroup",
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "format": "int64"
                  },
                  "name": {
                   "type": "string"
                  },
                  "type": {
                   "type": "string"
                  }
                 }
                }
               },
               "id": {
                "type": "integer",
                "format": "int64"
               },
               "language": {
                "type": "string",
                "description": "2 letters language code en | fr | ..."
               },
               "lastName": {
                "type": "string"
               },
               "provider": {
                "type": "string"
               },
               "rating": {
                "type": "number",
                "format": "double"
               },
               "ratingCount": {
                "type": "integer",
                "format": "int32"
               },
               "storeCode": {
                "type": "string"
               },
               "userName": {
                "type": "string"
               }
              }
             },
             "customerAgreed": {
              "type": "boolean"
             },
             "datePurchased": {
              "type": "string",
              "format": "date-time"
             },
             "delivery": {
              "title": "Address",
              "type": "object",
              "properties": {
               "address": {
                "type": "string",
                "description": "Customer billing or shipping address"
               },
               "billingAddress": {
                "type": "boolean"
               },
               "bilstateOther": {
                "type": "string"
               },
               "city": {
                "type": "string",
                "description": "Customer billing or shipping city"
               },
               "company": {
                "type": "string"
               },
               "country": {
                "type": "string",
                "description": "Customer billing or shipping country code (2 letter code US, CA, UK, IT, IN, CN...)"
               },
               "countryCode": {
                "type": "string"
               },
               "firstName": {
                "type": "string",
                "description": "Customer billing first name"
               },
               "lastName": {
                "type": "string",
                "description": "Customer billing last name"
               },
               "latitude": {
                "type": "string"
               },
               "longitude": {
                "type": "string"
               },
               "phone": {
                "type": "string"
               },
               "postalCode": {
                "type": "string"
               },
               "stateProvince": {
                "type": "string",
                "description": "Customer billing or shipping state / province (if no 2 letter codes, example: North estate)"
               },
               "zone": {
                "type": "string",
                "description": "Customer billing or shipping state / province (2 letter code CA, ON...)"
               }
              }
             },
             "id": {
              "type": "integer",
              "format": "int64"
             },
             "orderStatus": {
              "type": "string",
              "enum": [
               "ORDERED",
               "PROCESSED",
               "DELIVERED",
               "REFUNDED",
               "CANCELED"
              ]
             },
             "paymentModule": {
              "type": "string"
             },
             "paymentType": {
              "type": "string",
              "enum": [
               "CREDITCARD",
               "FREE",
               "COD",
               "MONEYORDER",
               "PAYPAL",
               "INVOICE",
               "DIRECTBANK",
               "PAYMENTPLAN",
               "ACCOUNTCREDIT"
              ]
             },
             "previousOrderStatus": {
              "type": "array",
              "items": {
               "type": "string",
               "enum": [
                "ORDERED",
                "PROCESSED",
                "DELIVERED",
                "REFUNDED",
                "CANCELED"
               ]
              }
             },
             "products": {
              "type": "array",
              "items": {
               "title": "ReadableOrderProduct",
               "type": "object",
               "properties": {
                "attributes": {
                 "type": "array",
                 "items": {
                  "title": "ReadableOrderProductAttribute",
                  "type": "object",
                  "properties": {
                   "attributeName": {
                    "type": "string"
                   },
                   "attributePrice": {
                    "type": "string"
                   },
                   "attributeValue": {
                    "type": "string"
                   },
                   "id": {
                    "type": "integer",
                    "format": "int64"
                   }
                  }
                 }
                },
                "id": {
                 "type": "integer",
                 "format": "int64"
                },
                "image": {
                 "type": "string"
                },
                "orderedQuantity": {
                 "type": "integer",
                 "format": "int32"
                },
                "price": {
                 "type": "string"
                },
                "product": {
                 "title": "ReadableProduct",
                 "type": "object",
                 "properties": {
                  "attributes": {
                   "type": "array",
                   "items": {
                    "title": "ReadableProductAttribute",
                    "type": "object",
                    "properties": {
                     "attributeDefault": {
                      "type": "boolean"
                     },
                     "attributeDisplayOnly": {
                      "type": "boolean"
                     },
                     "attributeValues": {
                      "type": "array",
                      "items": {
                       "title": "ReadableProductAttributeValue",
                       "type": "object",
                       "properties": {
                        "code": {
                         "type": "string"
                        },
                        "defaultValue": {
                         "type": "boolean"
                        },
                        "description": {
                         "type": "string"
                        },
                        "id": {
                         "type": "integer",
                         "format": "int64"
                        },
                        "image": {
                         "type": "string"
                        },
                        "lang": {
                         "type": "string"
                        },
                        "name": {
                         "type": "string"
                        },
                        "sortOrder": {
                         "type": "integer",
                         "format": "int32"
                        }
                       }
                      }
                     },
                     "code": {
                      "type": "string"
                     },
                     "id": {
                      "type": "integer",
                      "format": "int64"
                     },
                     "lang": {
                      "type": "string"
                     },
                     "name": {
                      "type": "string"
                     },
                     "sortOrder": {
                      "type": "integer",
                      "format": "int32"
                     },
                     "type": {
                      "type": "string"
                     }
                    }
                   }
                  },
                  "available": {
                   "type": "boolean"
                  },
                  "canBePurchased": {
                   "type": "boolean"
                  },
                  "categories": {
                   "type": "array",
                   "items": {
                    "title": "ReadableCategory",
                    "type": "object",
                    "properties": {
                     "children": {
                      "type": "array",
                      "items": {
                       "type": "object"
                      }
                     },
                     "code": {
                      "type": "string"
                     },
                     "depth": {
                      "type": "integer",
                      "format": "int32"
                     },
                     "description": {
                      "title": "CategoryDescription",
                      "type": "object",
                      "properties": {
                       "description": {
                        "type": "string"
                       },
                       "friendlyUrl": {
                        "type": "string"
                       },
                       "highlights": {
                        "type": "string"
                       },
                       "id": {
                        "type": "integer",
                        "format": "int64"
                       },
                       "keyWords": {
                        "type": "string"
                       },
                       "language": {
                        "type": "string"
                       },
                       "metaDescription": {
                        "type": "string"
                       },
                       "name": {
                        "type": "string"
                       },
                       "title": {
                        "type": "string"
                       }
                      }
                     },
                     "featured": {
                      "type": "boolean"
                     },
                     "id": {
                      "type": "integer",
                      "format": "int64"
                     },
                     "lineage": {
                      "type": "string"
                     },
                     "parent": {
                      "title": "Category",
                      "type": "object",
                      "properties": {
                       "code": {
                        "type": "string"
                       },
                       "id": {
                        "type": "integer",
                        "format": "int64"
                       }
                      }
                     },
                     "productCount": {
                      "type": "integer",
                      "format": "int32"
                     },
                     "sortOrder": {
                      "type": "integer",
                      "format": "int32"
                     },
                     "store": {
                      "type": "string"
                     },
                     "visible": {
                      "type": "boolean"
                     }
                    }
                   }
                  },
                  "creationDate": {
                   "type": "string"
                  },
                  "dateAvailable": {
                   "type": "string"
                  },
                  "description": {
                   "title": "ProductDescription",
                   "type": "object",
                   "properties": {
                    "description": {
                     "type": "string"
                    },
                    "friendlyUrl": {
                     "type": "string"
                    },
                    "highlights": {
                     "type": "string"
                    },
                    "id": {
                     "type": "integer",
                     "format": "int64"
                    },
                    "keyWords": {
                     "type": "string"
                    },
                    "language": {
                     "type": "string"
                    },
                    "metaDescription": {
                     "type": "string"
                    },
                    "name": {
                     "type": "string"
                    },
                    "title": {
                     "type": "string"
                    }
                   }
                  },
                  "discounted": {
                   "type": "boolean"
                  },
                  "finalPrice": {
                   "type": "string"
                  },
                  "id": {
                   "type": "integer",
                   "format": "int64"
                  },
                  "image": {
                   "title": "ReadableImage",
                   "type": "object",
                   "properties": {
                    "name": {
                     "type": "string"
                    },
                    "path": {
                     "type": "string"
                    }
                   }
                  },
                  "images": {
                   "type": "array",
                   "items": {
                    "title": "ReadableImage",
                    "type": "object",
                    "properties": {
                     "name": {
                      "type": "string"
                     },
                     "path": {
                      "type": "string"
                     }
                    }
                   }
                  },
                  "manufacturer": {
                   "title": "ReadableManufacturer",
                   "type": "object",
                   "properties": {
                    "code": {
                     "type": "string"
                    },
                    "description": {
                     "title": "ManufacturerDescription",
                     "type": "object",
                     "properties": {
                      "description": {
                       "type": "string"
                      },
                      "friendlyUrl": {
                       "type": "string"
                      },
                      "highlights": {
                       "type": "string"
                      },
                      "id": {
                       "type": "integer",
                       "format": "int64"
                      },
                      "keyWords": {
                       "type": "string"
                      },
                      "language": {
                       "type": "string"
                      },
                      "metaDescription": {
                       "type": "string"
                      },
                      "name": {
                       "type": "string"
                      },
                      "title": {
                       "type": "string"
                      }
                     }
                    },
                    "id": {
                     "type": "integer",
                     "format": "int64"
                    },
                    "order": {
                     "type": "integer",
                     "format": "int32"
                    }
                   }
                  },
                  "options": {
                   "type": "array",
                   "items": {
                    "title": "ReadableProductOption",
                    "type": "object",
                    "properties": {
                     "code": {
                      "type": "string"
                     },
                     "id": {
                      "type": "integer",
                      "format": "int64"
                     },
                     "lang": {
                      "type": "string"
                     },
                     "name": {
                      "type": "string"
                     },
                     "optionValues": {
                      "type": "array",
                      "items": {
                       "title": "ReadableProductOptionValue",
                       "type": "object",
                       "properties": {
                        "code": {
                         "type": "string"
                        },
                        "defaultValue": {
                         "type": "boolean"
                        },
                        "description": {
                         "type": "string"
                        },
                        "id": {
                         "type": "integer",
                         "format": "int64"
                        },
                        "image": {
                         "type": "string"
                        },
                        "name": {
                         "type": "string"
                        },
                        "price": {
                         "type": "string"
                        },
                        "sortOrder": {
                         "type": "integer",
                         "format": "int32"
                        }
                       }
                      }
                     },
                     "readOnly": {
                      "type": "boolean"
                     },
                     "type": {
                      "type": "string"
                     },
                     "variant": {
                      "type": "boolean"
                     }
                    }
                   }
                  },
                  "originalPrice": {
                   "type": "string"
                  },
                  "owner": {
                   "title": "RentalOwner",
                   "type": "object",
                   "properties": {
                    "address": {
                     "title": "Address",
                     "type": "object",
                     "properties": {
                      "address": {
                       "type": "string",
                       "description": "Customer billing or shipping address"
                      },
                      "billingAddress": {
                       "type": "boolean"
                      },
                      "bilstateOther": {
                       "type": "string"
                      },
                      "city": {
                       "type": "string",
                       "description": "Customer billing or shipping city"
                      },
                      "company": {
                       "type": "string"
                      },
                      "country": {
                       "type": "string",
                       "description": "Customer billing or shipping country code (2 letter code US, CA, UK, IT, IN, CN...)"
                      },
                      "countryCode": {
                       "type": "string"
                      },
                      "firstName": {
                       "type": "string",
                       "description": "Customer billing first name"
                      },
                      "lastName": {
                       "type": "string",
                       "description": "Customer billing last name"
                      },
                      "latitude": {
                       "type": "string"
                      },
                      "longitude": {
                       "type": "string"
                      },
                      "phone": {
                       "type": "string"
                      },
                      "postalCode": {
                       "type": "string"
                      },
                      "stateProvince": {
                       "type": "string",
                       "description": "Customer billing or shipping state / province (if no 2 letter codes, example: North estate)"
                      },
                      "zone": {
                       "type": "string",
                       "description": "Customer billing or shipping state / province (2 letter code CA, ON...)"
                      }
                     }
                    },
                    "emailAddress": {
                     "type": "string"
                    },
                    "firstName": {
                     "type": "string"
                    },
                    "id": {
                     "type": "integer",
                     "format": "int64"
                    },
                    "lastName": {
                     "type": "string"
                    }
                   }
                  },
                  "preOrder": {
                   "type": "boolean"
                  },
                  "price": {
                   "type": "number"
                  },
                  "productIsFree": {
                   "type": "boolean"
                  },
                  "productPrice": {
                   "title": "ReadableProductPrice",
                   "type": "object",
                   "properties": {
                    "description": {
                     "title": "ProductPriceDescription",
                     "type": "object",
                     "properties": {
                      "description": {
                       "type": "string"
                      },
                      "friendlyUrl": {
                       "type": "string"
                      },
                      "highlights": {
                       "type": "string"
                      },
                      "id": {
                       "type": "integer",
                       "format": "int64"
                      },
                      "keyWords": {
                       "type": "string"
                      },
                      "language": {
                       "type": "string"
                      },
                      "metaDescription": {
                       "type": "string"
                      },
                      "name": {
                       "type": "string"
                      },
                      "priceAppender": {
                       "type": "string"
                      },
                      "title": {
                       "type": "string"
                      }
                     }
                    },
                    "discounted": {
                     "type": "boolean"
                    },
                    "finalPrice": {
                     "type": "string"
                    },
                    "id": {
                     "type": "integer",
                     "format": "int64"
                    },
                    "originalPrice": {
                     "type": "string"
                    }
                   }
                  },
                  "productShipeable": {
                   "type": "boolean"
                  },
                  "productSpecifications": {
                   "title": "ProductSpecification",
                   "type": "object",
                   "properties": {
                    "dimensionUnitOfMeasure": {
                     "type": "string",
                     "enum": [
                      "cm",
                      "cu",
                      "ft",
                      "in",
                      "m"
                     ]
                    },
                    "height": {
                     "type": "number"
                    },
                    "length": {
                     "type": "number"
                    },
                    "manufacturer": {
                     "type": "string"
                    },
                    "model": {
                     "type": "string"
                    },
                    "weight": {
                     "type": "number"
                    },
                    "weightUnitOfMeasure": {
                     "type": "string",
                     "enum": [
                      "g",
                      "kg",
                      "l",
                      "lb",
                      "T"
                     ]
                    },
                    "width": {
                     "type": "number"
                    }
                   }
                  },
                  "productVirtual": {
                   "type": "boolean"
                  },
                  "properties": {
                   "type": "array",
                   "items": {
                    "title": "ReadableProductProperty",
                    "type": "object",
                    "properties": {
                     "code": {
                      "type": "string"
                     },
                     "id": {
                      "type": "integer",
                      "format": "int64"
                     },
                     "property": {
                      "title": "ReadableProductOption",
                      "type": "object",
                      "properties": {
                       "code": {
                        "type": "string"
                       },
                       "id": {
                        "type": "integer",
                        "format": "int64"
                       },
                       "lang": {
                        "type": "string"
                       },
                       "name": {
                        "type": "string"
                       },
                       "optionValues": {
                        "type": "array",
                        "items": {
                         "title": "ReadableProductOptionValue",
                         "type": "object",
                         "properties": {
                          "code": {
                           "type": "string"
                          },
                          "defaultValue": {
                           "type": "boolean"
                          },
                          "description": {
                           "type": "string"
                          },
                          "id": {
                           "type": "integer",
                           "format": "int64"
                          },
                          "image": {
                           "type": "string"
                          },
                          "name": {
                           "type": "string"
                          },
                          "price": {
                           "type": "string"
                          },
                          "sortOrder": {
                           "type": "integer",
                           "format": "int32"
                          }
                         }
                        }
                       },
                       "readOnly": {
                        "type": "boolean"
                       },
                       "type": {
                        "type": "string"
                       },
                       "variant": {
                        "type": "boolean"
                       }
                      }
                     },
                     "propertyValue": {
                      "title": "ReadableProductPropertyValue",
                      "type": "object",
                      "properties": {
                       "code": {
                        "type": "string"
                       },
                       "defaultValue": {
                        "type": "boolean"
                       },
                       "id": {
                        "type": "integer",
                        "format": "int64"
                       },
                       "image": {
                        "type": "string"
                       },
                       "name": {
                        "type": "string"
                       },
                       "sortOrder": {
                        "type": "integer",
                        "format": "int32"
                       },
                       "values": {
                        "type": "array",
                        "items": {
                         "title": "ProductOptionValueDescription",
                         "type": "object",
                         "properties": {
                          "description": {
                           "type": "string"
                          },
                          "friendlyUrl": {
                           "type": "string"
                          },
                          "highlights": {
                           "type": "string"
                          },
                          "id": {
                           "type": "integer",
                           "format": "int64"
                          },
                          "keyWords": {
                           "type": "string"
                          },
                          "language": {
                           "type": "string"
                          },
                          "metaDescription": {
                           "type": "string"
                          },
                          "name": {
                           "type": "string"
                          },
                          "title": {
                           "type": "string"
                          }
                         }
                        }
                       }
                      }
                     },
                     "readOnly": {
                      "type": "boolean"
                     },
                     "type": {
                      "type": "string"
                     }
                    }
                   }
                  },
                  "quantity": {
                   "type": "integer",
                   "format": "int32"
                  },
                  "quantityOrderMaximum": {
                   "type": "integer",
                   "format": "int32"
                  },
                  "quantityOrderMinimum": {
                   "type": "integer",
                   "format": "int32"
                  },
                  "rating": {
                   "type": "number",
                   "format": "double"
                  },
                  "ratingCount": {
                   "type": "integer",
                   "format": "int32"
                  },
                  "refSku": {
                   "type": "string"
                  },
                  "rentalDuration": {
                   "type": "integer",
                   "format": "int32"
                  },
                  "rentalPeriod": {
                   "type": "integer",
                   "format": "int32"
                  },
                  "sku": {
                   "type": "string"
                  },
                  "sortOrder": {
                   "type": "integer",
                   "format": "int32"
                  },
                  "type": {
                   "title": "ReadableProductType",
                   "type": "object",
                   "properties": {
                    "allowAddToCart": {
                     "type": "boolean"
                    },
                    "code": {
                     "type": "string"
                    },
                    "description": {
                     "title": "ProductTypeDescription",
                     "type": "object",
                     "properties": {
                      "description": {
                       "type": "string"
                      },
                      "friendlyUrl": {
                       "type": "string"
                      },
                      "highlights": {
                       "type": "string"
                      },
                      "id": {
                       "type": "integer",
                       "format": "int64"
                      },
                      "keyWords": {
                       "type": "string"
                      },
                      "language": {
                       "type": "string"
                      },
                      "metaDescription": {
                       "type": "string"
                      },
                      "name": {
                       "type": "string"
                      },
                      "title": {
                       "type": "string"
                      }
                     }
                    },
                    "id": {
                     "type": "integer",
                     "format": "int64"
                    },
                    "visible": {
                     "type": "boolean"
                    }
                   }
                  },
                  "variants": {
                   "type": "array",
                   "items": {
                    "title": "ReadableProductInstance",
                    "type": "object",
                    "properties": {
                     "available": {
                      "type": "boolean"
                     },
                     "code": {
                      "type": "string"
                     },
                     "creationDate": {
                      "type": "string"
                     },
                     "dateAvailable": {
                      "type": "string"
                     },
                     "defaultSelection": {
                      "type": "boolean"
                     },
                     "id": {
                      "type": "integer",
                      "format": "int64"
                     },
                     "images": {
                      "type": "array",
                      "items": {
                       "title": "ReadableImage",
                       "type": "object",
                       "properties": {
                        "name": {
                         "type": "string"
                        },
                        "path": {
                         "type": "string"
                        }
                       }
                      }
                     },
                     "inventory": {
                      "type": "array",
                      "items": {
                       "title": "ReadableInventory",
                       "type": "object",
                       "properties": {
                        "available": {
                         "type": "boolean"
                        },
                        "creationDate": {
                         "type": "string"
                        },
                        "dateAvailable": {
                         "type": "string"
                        },
                        "id": {
                         "type": "integer",
                         "format": "int64"
                        },
                        "owner": {
                         "type": "string"
                        },
                        "prices": {
                         "type": "array",
                         "items": {
                          "title": "ReadableProductPrice",
                          "type": "object",
                          "properties": {
                           "description": {
                            "title": "ProductPriceDescription",
                            "type": "object",
                            "properties": {
                             "description": {
                              "type": "string"
                             },
                             "friendlyUrl": {
                              "type": "string"
                             },
                             "highlights": {
                              "type": "string"
                             },
                             "id": {
                              "type": "integer",
                              "format": "int64"
                             },
                             "keyWords": {
                              "type": "string"
                             },
                             "language": {
                              "type": "string"
                             },
                             "metaDescription": {
                              "type": "string"
                             },
                             "name": {
                              "type": "string"
                             },
                             "priceAppender": {
                              "type": "string"
                             },
                             "title": {
                              "type": "string"
                             }
                            }
                           },
                           "discounted": {
                            "type": "boolean"
                           },
                           "finalPrice": {
                            "type": "string"
                           },
                           "id": {
                            "type": "integer",
                            "format": "int64"
                           },
                           "originalPrice": {
                            "type": "string"
                           }
                          }
                         }
                        },
                        "productQuantityOrderMax": {
                         "type": "integer",
                         "format": "int32"
                        },
                        "productQuantityOrderMin": {
                         "type": "integer",
                         "format": "int32"
                        },
                        "quantity": {
                         "type": "integer",
                         "format": "int32"
                        },
                        "region": {
                         "type": "string"
                        },
                        "regionVariant": {
                         "type": "string"
                        },
                        "sku": {
                         "type": "string"
                        },
                        "store": {
                         "title": "ReadableMerchantStore",
                         "type": "object",
                         "properties": {
                          "address": {
                           "title": "ReadableAddress",
                           "type": "object",
                           "properties": {
                            "active": {
                             "type": "boolean"
                            },
                            "address": {
                             "type": "string"
                            },
                            "city": {
                             "type": "string"
                            },
                            "country": {
                             "type": "string"
                            },
                            "postalCode": {
                             "type": "string"
                            },
                            "stateProvince": {
                             "type": "string"
                            }
                           }
                          },
                          "code": {
                           "type": "string"
                          },
                          "currency": {
                           "type": "string"
                          },
                          "currencyFormatNational": {
                           "type": "boolean"
                          },
                          "currentUserLanguage": {
                           "type": "string"
                          },
                          "defaultLanguage": {
                           "type": "string"
                          },
                          "dimension": {
                           "type": "string",
                           "enum": [
                            "CM",
                            "IN"
                           ]
                          },
                          "email": {
                           "type": "string"
                          },
                          "id": {
                           "type": "integer",
                           "format": "int32"
                          },
                          "inBusinessSince": {
                           "type": "string"
                          },
                          "logo": {
                           "title": "ReadableImage",
                           "type": "object",
                           "properties": {
                            "name": {
                             "type": "string"
                            },
                            "path": {
                             "type": "string"
                            }
                           }
                          },
                          "name": {
                           "type": "string"
                          },
                          "parent": {
                           "type": "object"
                          },
                          "phone": {
                           "type": "string"
                          },
                          "readableAudit": {
                           "title": "ReadableAudit",
                           "type": "object",
                           "properties": {
                            "created": {
                             "type": "string"
                            },
                            "modified": {
                             "type": "string"
                            },
                            "user": {
                             "type": "string"
                            }
                           }
                          },
                          "retailer": {
                           "type": "boolean"
                          },
                          "supportedLanguages": {
                           "type": "array",
                           "items": {
                            "title": "ReadableLanguage",
                            "type": "object",
                            "properties": {
                             "code": {
                              "type": "string"
                             },
                             "id": {
                              "type": "integer",
                              "format": "int32"
                             }
                            }
                           }
                          },
                          "template": {
                           "type": "string"
                          },
                          "useCache": {
                           "type": "boolean"
                          },
                          "weight": {
                           "type": "string",
                           "enum": [
                            "LB",
                            "KG"
                           ]
                          }
                         }
                        }
                       }
                      }
                     },
                     "productId": {
                      "type": "integer",
                      "format": "int64"
                     },
                     "productShipeable": {
                      "type": "boolean"
                     },
                     "sku": {
                      "type": "string"
                     },
                     "sortOrder": {
                      "type": "integer",
                      "format": "int32"
                     },
                     "store": {
                      "type": "string"
                     },
                     "variant": {
                      "title": "ReadableProductVariation",
                      "type": "object",
                      "properties": {
                       "code": {
                        "type": "string"
                       },
                       "date": {
                        "type": "string"
                       },
                       "defaultValue": {
                        "type": "boolean"
                       },
                       "id": {
                        "type": "integer",
                        "format": "int64"
                       },
                       "option": {
                        "title": "ReadableProductOption",
                        "type": "object",
                        "properties": {
                         "code": {
                          "type": "string"
                         },
                         "id": {
                          "type": "integer",
                          "format": "int64"
                         },
                         "lang": {
                          "type": "string"
                         },
                         "name": {
                          "type": "string"
                         },
                         "optionValues": {
                          "type": "array",
                          "items": {
                           "title": "ReadableProductOptionValue",
                           "type": "object",
                           "properties": {
                            "code": {
                             "type": "string"
                            },
                            "defaultValue": {
                             "type": "boolean"
                            },
                            "description": {
                             "type": "string"
                            },
                            "id": {
                             "type": "integer",
                             "format": "int64"
                            },
                            "image": {
                             "type": "string"
                            },
                            "name": {
                             "type": "string"
                            },
                            "price": {
                             "type": "string"
                            },
                            "sortOrder": {
                             "type": "integer",
                             "format": "int32"
                            }
                           }
                          }
                         },
                         "readOnly": {
                          "type": "boolean"
                         },
                         "type": {
                          "type": "string"
                         },
                         "variant": {
                          "type": "boolean"
                         }
                        }
                       },
                       "optionValue": {
                        "title": "ReadableProductOptionValue",
                        "type": "object",
                        "properties": {
                         "code": {
                          "type": "string"
                         },
                         "defaultValue": {
                          "type": "boolean"
                         },
                         "description": {
                          "type": "string"
                         },
                         "id": {
                          "type": "integer",
                          "format": "int64"
                         },
                         "image": {
                          "type": "string"
                         },
                         "name": {
                          "type": "string"
                         },
                         "price": {
                          "type": "string"
                         },
                         "sortOrder": {
                          "type": "integer",
                          "format": "int32"
                         }
                        }
                       },
                       "sortOrder": {
                        "type": "integer",
                        "format": "int32"
                       }
                      }
                     },
                     "variantValue": {
                      "title": "ReadableProductVariation",
                      "type": "object",
                      "properties": {
                       "code": {
                        "type": "string"
                       },
                       "date": {
                        "type": "string"
                       },
                       "defaultValue": {
                        "type": "boolean"
                       },
                       "id": {
                        "type": "integer",
                        "format": "int64"
                       },
                       "option": {
                        "title": "ReadableProductOption",
                        "type": "object",
                        "properties": {
                         "code": {
                          "type": "string"
                         },
                         "id": {
                          "type": "integer",
                          "format": "int64"
                         },
                         "lang": {
                          "type": "string"
                         },
                         "name": {
                          "type": "string"
                         },
                         "optionValues": {
                          "type": "array",
                          "items": {
                           "title": "ReadableProductOptionValue",
                           "type": "object",
                           "properties": {
                            "code": {
                             "type": "string"
                            },
                            "defaultValue": {
                             "type": "boolean"
                            },
                            "description": {
                             "type": "string"
                            },
                            "id": {
                             "type": "integer",
                             "format": "int64"
                            },
                            "image": {
                             "type": "string"
                            },
                            "name": {
                             "type": "string"
                            },
                            "price": {
                             "type": "string"
                            },
                            "sortOrder": {
                             "type": "integer",
                             "format": "int32"
                            }
                           }
                          }
                         },
                         "readOnly": {
                          "type": "boolean"
                         },
                         "type": {
                          "type": "string"
                         },
                         "variant": {
                          "type": "boolean"
                         }
                        }
                       },
                       "optionValue": {
                        "title": "ReadableProductOptionValue",
                        "type": "object",
                        "properties": {
                         "code": {
                          "type": "string"
                         },
                         "defaultValue": {
                          "type": "boolean"
                         },
                         "description": {
                          "type": "string"
                         },
                         "id": {
                          "type": "integer",
                          "format": "int64"
                         },
                         "image": {
                          "type": "string"
                         },
                         "name": {
                          "type": "string"
                         },
                         "price": {
                          "type": "string"
                         },
                         "sortOrder": {
                          "type": "integer",
                          "format": "int32"
                         }
                        }
                       },
                       "sortOrder": {
                        "type": "integer",
                        "format": "int32"
                       }
                      }
                     },
                     "visible": {
                      "type": "boolean"
                     }
                    }
                   }
                  },
                  "visible": {
                   "type": "boolean"
                  }
                 }
                },
                "productName": {
                 "type": "string"
                },
                "sku": {
                 "type": "string"
                },
                "subTotal": {
                 "type": "string"
                }
               }
              }
             },
             "shipping": {
              "title": "OrderTotal",
              "type": "object",
              "properties": {
               "code": {
                "type": "string"
               },
               "id": {
                "type": "integer",
                "format": "int64"
               },
               "module": {
                "type": "string"
               },
               "order": {
                "type": "integer",
                "format": "int32"
               },
               "text": {
                "type": "string"
               },
               "title": {
                "type": "string"
               },
               "value": {
                "type": "number"
               }
              }
             },
             "shippingModule": {
              "type": "string"
             },
             "store": {
              "title": "ReadableMerchantStore",
              "type": "object",
              "properties": {
               "address": {
                "title": "ReadableAddress",
                "type": "object",
                "properties": {
                 "active": {
                  "type": "boolean"
                 },
                 "address": {
                  "type": "string"
                 },
                 "city": {
                  "type": "string"
                 },
                 "country": {
                  "type": "string"
                 },
                 "postalCode": {
                  "type": "string"
                 },
                 "stateProvince": {
                  "type": "string"
                 }
                }
               },
               "code": {
                "type": "string"
               },
               "currency": {
                "type": "string"
               },
               "currencyFormatNational": {
                "type": "boolean"
               },
               "currentUserLanguage": {
                "type": "string"
               },
               "defaultLanguage": {
                "type": "string"
               },
               "dimension": {
                "type": "string",
                "enum": [
                 "CM",
                 "IN"
                ]
               },
               "email": {
                "type": "string"
               },
               "id": {
                "type": "integer",
                "format": "int32"
               },
               "inBusinessSince": {
                "type": "string"
               },
               "logo": {
                "title": "ReadableImage",
                "type": "object",
                "properties": {
                 "name": {
                  "type": "string"
                 },
                 "path": {
                  "type": "string"
                 }
                }
               },
               "name": {
                "type": "string"
               },
               "parent": {
                "type": "object"
               },
               "phone": {
                "type": "string"
               },
               "readableAudit": {
                "title": "ReadableAudit",
                "type": "object",
                "properties": {
                 "created": {
                  "type": "string"
                 },
                 "modified": {
                  "type": "string"
                 },
                 "user": {
                  "type": "string"
                 }
                }
               },
               "retailer": {
                "type": "boolean"
               },
               "supportedLanguages": {
                "type": "array",
                "items": {
                 "title": "ReadableLanguage",
                 "type": "object",
                 "properties": {
                  "code": {
                   "type": "string"
                  },
                  "id": {
                   "type": "integer",
                   "format": "int32"
                  }
                 }
                }
               },
               "template": {
                "type": "string"
               },
               "useCache": {
                "type": "boolean"
               },
               "weight": {
                "type": "string",
                "enum": [
                 "LB",
                 "KG"
                ]
               }
              }
             },
             "tax": {
              "title": "OrderTotal",
              "type": "object",
              "properties": {
               "code": {
                "type": "string"
               },
               "id": {
                "type": "integer",
                "format": "int64"
               },
               "module": {
                "type": "string"
               },
               "order": {
                "type": "integer",
                "format": "int32"
               },
               "text": {
                "type": "string"
               },
               "title": {
                "type": "string"
               },
               "value": {
                "type": "number"
               }
              }
             },
             "total": {
              "title": "OrderTotal",
              "type": "object",
              "properties": {
               "code": {
                "type": "string"
               },
               "id": {
                "type": "integer",
                "format": "int64"
               },
               "module": {
                "type": "string"
               },
               "order": {
                "type": "integer",
                "format": "int32"
               },
               "text": {
                "type": "string"
               },
               "title": {
                "type": "string"
               },
               "value": {
                "type": "number"
               }
              }
             },
             "totals": {
              "type": "array",
              "items": {
               "title": "OrderTotal",
               "type": "object",
               "properties": {
                "code": {
                 "type": "string"
                },
                "id": {
                 "type": "integer",
                 "format": "int64"
                },
                "module": {
                 "type": "string"
                },
                "order": {
                 "type": "integer",
                 "format": "int32"
                },
                "text": {
                 "type": "string"
                },
                "title": {
                 "type": "string"
                },
                "value": {
                 "type": "number"
                }
               }
              }
             }
            }
           }
          },
          "recordsFiltered": {
           "type": "integer",
           "format": "int32"
          },
          "recordsTotal": {
           "type": "integer",
           "format": "int64"
          },
          "totalPages": {
           "type": "integer",
           "format": "int32"
          }
         }
        }
       }
      }
     }
    },
    "deprecated": false,
    "description": "list. Lists store orders (admin view). Supports 'page' (0-based) and 'count' query params for pagination. Each order includes status, totals and customer id"
   }
  },
  "/api/v1/private/orders/customers/{id}": {
   "get": {
    "tags": [
     "Ordering api (Order Flow Api)"
    ],
    "summary": "list",
    "operationId": "list_orders_by_customer",
    "parameters": [
     {
      "name": "count",
      "in": "query",
      "description": "count",
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "id",
      "required": true,
      "schema": {
       "type": "integer",
       "format": "int64"
      }
     },
     {
      "name": "start",
      "in": "query",
      "description": "start",
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "ReadableOrderList",
         "type": "object",
         "properties": {
          "number": {
           "type": "integer",
           "format": "int32"
          },
          "orders": {
           "type": "array",
           "items": {
            "title": "ReadableOrder",
            "type": "object",
            "properties": {
             "attributes": {
              "type": "array",
              "items": {
               "title": "OrderAttribute",
               "type": "object",
               "properties": {
                "key": {
                 "type": "string"
                },
                "value": {
                 "type": "string"
                }
               }
              }
             },
             "billing": {
              "title": "ReadableBilling",
              "type": "object",
              "properties": {
               "address": {
                "type": "string",
                "description": "Customer billing or shipping address"
               },
               "billingAddress": {
                "type": "boolean"
               },
               "bilstateOther": {
                "type": "string"
               },
               "city": {
                "type": "string",
                "description": "Customer billing or shipping city"
               },
               "company": {
                "type": "string"
               },
               "country": {
                "type": "string",
                "description": "Customer billing or shipping country code (2 letter code US, CA, UK, IT, IN, CN...)"
               },
               "countryCode": {
                "type": "string"
               },
               "countryName": {
                "type": "string"
               },
               "email": {
                "type": "string"
               },
               "firstName": {
                "type": "string",
                "description": "Customer billing first name"
               },
               "lastName": {
                "type": "string",
                "description": "Customer billing last name"
               },
               "latitude": {
                "type": "string"
               },
               "longitude": {
                "type": "string"
               },
               "phone": {
                "type": "string"
               },
               "postalCode": {
                "type": "string"
               },
               "provinceName": {
                "type": "string"
               },
               "stateProvince": {
                "type": "string",
                "description": "Customer billing or shipping state / province (if no 2 letter codes, example: North estate)"
               },
               "zone": {
                "type": "string",
                "description": "Customer billing or shipping state / province (2 letter code CA, ON...)"
               }
              }
             },
             "comments": {
              "type": "string"
             },
             "confirmedAddress": {
              "type": "boolean"
             },
             "creditCard": {
              "title": "CreditCard",
              "type": "object",
              "properties": {
               "cardType": {
                "type": "string",
                "enum": [
                 "AMEX",
                 "VISA",
                 "MASTERCARD",
                 "DINERS",
                 "DISCOVERY"
                ]
               },
               "ccCvv": {
                "type": "string"
               },
               "ccExpires": {
                "type": "string"
               },
               "ccNumber": {
                "type": "string"
               },
               "ccOwner": {
                "type": "string"
               }
              }
             },
             "currency": {
              "type": "string"
             },
             "customer": {
              "title": "ReadableCustomer",
              "type": "object",
              "properties": {
               "attributes": {
                "type": "array",
                "items": {
                 "title": "ReadableCustomerAttribute",
                 "type": "object",
                 "properties": {
                  "customerOption": {
                   "title": "ReadableCustomerOption",
                   "type": "object",
                   "properties": {
                    "code": {
                     "type": "string"
                    },
                    "description": {
                     "title": "CustomerOptionDescription",
                     "type": "object",
                     "properties": {
                      "description": {
                       "type": "string"
                      },
                      "friendlyUrl": {
                       "type": "string"
                      },
                      "highlights": {
                       "type": "string"
                      },
[...]
