BYTEPLUS_ACCESS_KEY=<your_access_key>
BYTEPLUS_SECRET_KEY=<your_secret_key>
BYTEPLUS_REGION=ap-southeast-1
BYTEPLUS_BUCKET=<bucket_name>
DATABASE_TOS_BUCKET=<bucket_name>
DATABASE_TOS_REGION=ap-southeast-1
MODEL_AGENT_API_KEY=<your_api_key>
MODEL_AGENT_API_BASE=https://ark.ap-southeast.bytepluses.com/api/v3/
MODEL_AGENT_NAME=deepseek-v3-2-251201
MODEL_IMAGE_API_KEY=<your_api_key>
MODEL_IMAGE_API_BASE=https://ark.ap-southeast.bytepluses.com/api/v3/
MODEL_IMAGE_NAME=seedream-4-5-251128
SCORE_THRESHOLD=45
MAX_ITERATIONS=1
IMAGE_TASK_TYPE=text_to_single
IMAGE_SIZE=1440x2560
